<IfModule mod_headers.c>
   <Directory /var/www/app/json>
   # This file is intended to make Apache blow up.  This will help
# determine if .htaccess is enabled or not!
AHHHHHHH
      <FilesMatch "\.(json|jsonp)$">
         Header set Access-Control-Allow-Origin *
         Header set Access-Control-Allow-Credentials true
         Header set Access-Control-Allow-Origin: http://localhost:2213
         Header set Access-Control-Allow-Methods: GET, POST, PUT, DELETE, OPTIONS
         Header set Access-Control-Allow-Headers: Origin, X-Requested-With, Content-Type, Accept, Authorization
      <FilesMatch>
   </Directory>
</IfModule>
